##<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
##"http://www.w3.org/TR/html4/loose.dtd">
##nomenu- this page laysout a generic html page as used by salt for any main browser site- current html
<%!
def tdFldName(text):
        return '<td class="fieldname">' + text + "</td>"
%>
<html>
${self.initPage()}
<head>
${self.htmlHeadSection()}
</head>
<body ${self.bodySettings()}>
${self.htmlBody()}\
</body>
</html>

<%def name="siteLink(linkpage,text=None,quote=True,inA=True)">
<% link,textname=page.siteLink(linkpage,text) %>
  ##add sending quote to basicpage.siteLink when it is available
%if link:
    %if inA:
    <a href="${link}">${textname}</a>
    %else:
    href="${link}"
    %endif
%elif quote:
  '${textname}'
%else:
##  this is case of graphic or something
  ${textname}
%endif
</%def>


<%def name="navBar()">
</%def>
<%def name="mainbody()">
</%def>

<%def name="htmlBody()">\
${self.mainbody()}\
</%def>

<%def name="pageTitle()">\
${page.saltizeName(page.pageTitle())}\
</%def>


<%def name="htmlHeadSection()">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
##<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>${self.pageTitle()}</title>
${self.styleSheets()}
${self.headExt()}
</%def>

<%def name="styleSheets()">
##saltsafe version
##<style type="text/css">
##<!--
##.style1 {color: #999999; font-size: xx-large;}
##a:active {
##    color: #999999;
##}
##-->
##</style>
<link href="${bp['staticPrefix']}/CSS/salt.css" rel="stylesheet" type="text/css">
</%def>


<%def name="initPage()">
</%def>

<%def name="headExt()">

</%def>

##<%doc>
## ---------------------------


<%def name="bodySettings()">\
##TOPMARGIN="0" LEFTMARGIN="0" MARGINWIDTH="0" MARGINHEIGHT="0"
</%def>

<%def name="mainNavBar(default)">
 <%
    if 'altMenu' in page.getData:
        select=page.getData['altMenu'].lower()
    else:
        select=default
 %>
    %if select=='cool':
        <%include file="/templates/mainNavCool.html"/>
    %elif select=='dojo':
        <%include file="/templates/mainNavDojo.html"/>
    %elif select=='alt':
     ##we have altmenu
        <%include file="/templates/mainNavAlt.html"/>
    %else:
        <%include file="/templates/mainNav.html"/>
    %endif
</%def>

<%def name="mkjlink(text,gets,pageName='')">
<%    """ text is text to display in link
        gets is set of values to change in current getstring
        pagename (if set) is target, if not set current page is used
     """
%>
##  <a href="javascript:linkit(${self.fixUrlGets(gets,pageName=pageName)})">${text}</a>
##    <a href="${page.buildURL(gets)})">${text}</a>
</%def>

##---------------------------------------------------------------------
<%def name="deprec_show(item,commands,name=None)">
##show takes a 'field' object describing the item to display/edit and a list of commands
## to implement on the item
## an item is a dictionary of type,value,name,label,hint,choices,sizes
##  -----not all these are needed depending on commands and type (type,value are always mandatory)
## types are: text,textArea,checkbox,listbox,radios
%if name==None:
    <%name=item.name%>
%endif
%for command in commands:
    %if command=='e':
        %if item['type']=='listbox':
      ${self.showListBox(name,item)}
        %endif
    %endif

    %if command=='d':
        %if item['type'] in['text']:
            ${item['value']}
        %elif item['type']=='listbox':
            <select name="${name}"><br>
            %for choice,n in item['choices']:
                ##choices are text,number
    <option value="${n}" ${page.match('selected',item['choices'],item['value'],n)} >${choice}</option>
            %endfor
            </select>
        %endif
    %endif
%endfor
</%def>

<%def name="editTxtBox(field)">
<input name="${field.postID}" type="text" id="${field.postID}"
size="${field.fmt['size']}" maxlength="${field.fmt['max']}" value= "${field.strvalue}">
</%def>

<%def name="editListBox(field)">
## show a list box if choices from an item. Only relevant if in edit mode
## separate function is ok to show current value for output only
## and output is not a special case so is a normal show
<select name="${field.postID}"><br>
%for key,val in field.Type.__members__.items():
  ##choices are text,number
<option value="${val.value}"
      ${self.showif(field.value.value==val.value,'selected')} >
      ${key}</option>
%endfor
</select>
</%def>
<%def name= "showif(cond,string)">
%if cond:
${string}
%endif
</%def>

<%def name="editRadio(field,max=0)">
## show a list box if radio choices from an item. Only relevant if in edit mode
## separate function is ok to show current value for output only
## and output is not a special case so is a normal show
  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
  %if max:
  <tr><td align="center" colspan="${max}">${field.label}</td></tr>
  %else:
  ${field.label|tdFldName}
  %endif
%for num,key in enumerate(field.Type.__members__):
    <% val=field.Type[key] %>
    %if max and not(num % max):
        <tr>
    %endif
    <td><input name="${field.postID}" type="radio" value="${val.value}"\
             ${self.showif(field.value.value == val.value,"checked")}>\
                 ${key}
    </td>
    %if max and not((num+1) % max):
        </tr>
    %endif

%endfor
%if max and ((num+1) % max):
    </tr>
%endif
  </table>
</%def>


<%def name="dpre_tableShow(name,modes)">
## totally circular...deprecate!
${self.show(self.rr(name,'x'),modes,'field'+name)}
</%def>

<%def name="depre_rowShow(fields,fld,cmds,n=None)">
## explanation of name needed here!
##${self.show({fields.columns[fld].render('x'),cmds)}
## not row.columns and render handle 'columnViews' (see saltTable.py for doco)
%for cmd in cmds:
    ${fields[fld].render(cmd,idx=n)}
##2015-replace by above-    ${row.columns[page.dispName(fld)].render(cmd,idx=n)}
%endfor
</%def>

##</%doc>
##-----------------------------------------------
